
.box
{
    height: 3000px;
    width: 833px;
    border: 1px black dotted;
    padding: 11px;
   margin: auto;
   
}

#outerborder
{
    height: 3025px;
    width: 858px;
    border: 2px black solid;
    padding: 2px;
    margin: auto;
    background-color: white;
}
#head
{
    height: 188px;
   
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: initial;
}
#name
{
    font-family:  monospace;
    font-size: 26px;
}

#objhead
{
    height: 30px;
    background-color: gray;
    padding: 4px;
    border: 1px solid;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}
table,th,td
{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px groove black;
    margin: 20px;
}

#sign
{
 margin-left: 600px;
}

.text
{
    font-family: serif;
    color: crimson;
}

.topic
{
    height: 15px;
    width: 157px;
    margin: auto;
    border: groove;
    background: antiquewhite;
    padding: 11px;
    border-radius: 41px;
    padding-left: 85px;
}